/* Loan Manager Container */
.loan-manager {
    padding: 20px;
}

/* Loan Manager Header */
.loan-manager-header {
    width: 97%;
    margin-top: -50px;
    padding: 20px;
    text-align: center;
    color: black;
    font-size: 30px;
}

.search-wrapper {
    position: relative;
    display: inline-block;
    width: 30%;
}

.search-input {
    padding: 7px 40px 10px 10px;
    font-size: 16px;
    border: 2px solid #000000;
    border-radius: 4px;
    width: 260px;
    margin-left: 955px;
    margin-top: -5px;
}

.search-button {
    position: absolute;
    top: -10px;
    font-size: 12px;
    cursor: pointer;
    background-color: #007bff;
    color: black;
    border: 2px solid #000000;
    border-radius: 4px;
    padding: 10px;
    margin-left: 1215px;
}

/* Button Container */
.button-container {
    position: relative;
    margin-bottom: 20px;
}

/* Loan Form */
.loan-form {
    box-shadow: 0px 0px 15px 0px rgb(154, 154, 154);
    padding: 10px;
    border-radius: 5px;
    margin-top: -20px;
    margin-right: -110px;
    width: 100%;
    height: auto;
    position: relative;
}

.form-header {
    margin-bottom: 10px;
    color: black;
}

.form-input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.form-input-readonly {
    background-color: #f8f9fa;
}

.form-submit {
    background-color: #007bff;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.form-cancel {
    background-color: #dc3545;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Loan Table */
.loan-table-container {
    max-height: 450px;
    overflow-y: auto;
    box-shadow: 0px 0px 15px 0px rgb(154, 154, 154);
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    scrollbar-width: none; 
    width: 100%;
    margin-left: -10px;
    font-size: 17px;
}

.loan-table-container::-webkit-scrollbar {
    display: none; /* Hides scrollbar in Chrome, Safari, and Edge */
}

.loan-table {
    border-collapse: collapse;
    width: 100%;
}

.loan-table th,
.loan-table td {
    border: 2px solid #000000;
    padding: 8px;
}

.loan-table thead tr {
    border-bottom: 2px solid black;
    position: sticky;
    top: -7px;
    background-color: #fff;
    z-index: 1;
}

/* Action Buttons */
.action-button {
    margin: 0 5px;
    border: 2px solid #000000;
    padding: 5px;
    cursor: pointer;
}

.pay-button {
    background-color: goldenrod;
    color: black;
}

.delete-button {
    background-color: #dc3545;
    color: black;
}
