
.formContainer {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  overflow: hidden;
  
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #000000;
}
td{
  color:black;
}

form input,
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

.accountHolderInput {
  display: flex;
  align-items: center;
  gap: 10px;
}

.accountHolderInput select {
  flex-grow: 1;
}

.iconContainer {
  display: flex;
  gap: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: #000000;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex-grow: 1; 
  margin: 5px;
}

button[type="button"] {
  background-color: #ff1515;
}

button:hover {
  background-color: #00ff0d;
}

button[type="button"]:hover {
  background-color: #ff0000;
}


@media (max-width: 600px) {
  .buttonContainer {
    flex-direction: column;
    gap: 10px;
  }
  .formContainer {
    padding: 15px;
  }
  button {
    width: 100%;
    font-size: 14px;
  }
  form label {
    font-size: 14px;
  }
}