
.container {
    font-family: 'Arial, sans-serif';
    margin: 0;
    padding: 0;
    background-color: #d7f2b8;
    width: 100vw; 
    height: 100vh; 
    
  }

  .home-background {
    /* background-image: url('/img/mpspc.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 210vh;
  }
  
  
  .wrapper {
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
  }
  
  #welcome {
    margin-bottom: 20px;
  }
  
  #welcome h1 {
    font-size: 2.5rem;
    color: #000000;
    text-align: left;
    margin-bottom: 80px;
  }
  
  .flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .card {
    background-color: #fce4ec;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    width: 100vw;
  }
  
  .card-header {
    background-color: #1a5130;;
    color: #fff;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .card-content {
    padding: 20px;
    width: 100%;
  }
  
  .card-content p {
    margin: 5px 0;
  }
  
  .card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .card-footer .item {
    background-color: #00000028;
    color: #605656;
    padding: 8px;
    border-radius: 5px;
    text-align: center;
  }
  
  .loan-status p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
  }
  
  .progress-bar {
    height: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .progress-bar .progress {
    height: 100%;
    border-radius: 5px;
    background-color: #f8f9f804;
    width: 20%;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0d5d24;
    color: white;
    font-size: 1rem;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  